
/* css elements created mainly for intro shuffling animation */
/* #safeContainer is hidden once intro shuffling animation has been completed */

body {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}








